{% extends 'base_bbs.html' %}


{% block page-main %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2><strong style="color:black">添加文章</strong></h2>
            <form action="" method="post">
                {% csrf_token %}
                <div style="margin-top: 15px">
                    <label for="title">文章標題</label>
                    <input type="text" id="title" name="title" class="form-control" style="width: 50%" placeholder="文章標題">
                </div>
                <div style="margin-top: 15px">
                    <label for="category" style="display: block">類別</label>
                    <input type="text" id="category" name="category" class="form-control category-input" style="width: 30%" placeholder="填寫新的類別" >
                    <button type="button" class="btn  btn-default" ><i class="fa fa-plus"></i>&nbsp;&nbsp;使用舊有的類別</button>
                </div>
                <div style="margin-top: 15px">
                    <label for="tag" style="display: block">標籤</label>
                    <input type="text" id="tag" name="tag" class="form-control category-input" style="width: 30%" placeholder="按右側鈕添加" disabled="disabled">
                    <button type="button" class="btn  btn-default" ><i class="fa fa-plus"></i>&nbsp;&nbsp;可標註多個標籤</button>
                </div>
                <div style="margin-top: 15px">
                    <!--<p style="margin-top: 15px">內容(TinyMCE編輯器，支持拖放/黏貼上傳圖片)</p>-->
                    <label for="article_content">分享內容</label>
                    <textarea name="article_content" id="article_content" cols="60" rows="20" ></textarea>
                </div>
                <input type="submit" class="btn btn-info" value="提交">
            </form>
        </div>

        <script charset="utf-8" src="/static/kindeditor/kindeditor-all.js"></script>
        <script>
            KindEditor.ready(function (K) {
                window.editor = K.create('#article_content', {
                    width: "800",
                    height: "500px",
                    resizeType: 0,
                    uploadJson: "/upload/",
                    extraFileUploadParams: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                    },
                    filePostName: "upload_img"

                });
            });
        </script>

        {% endblock %}