{% extends 'base.html' %}

{% block page-main %}
<style>
    *{margin:0;padding:0;}

</style>

    <div class="article-detail">
        <h1>{{ article.title }}</h1>
        <p>{{ article.articledetail.content|safe }}</p>
    </div>

    <div class="poll clearfix">
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>

    </div>
    <h4><strong>{{ comment_list|length }}條評論</strong></h4>

    <!--<div class="comment_tree">-->

    <!--</div>-->
    <hr>
    <!--<p>評論列表</p>-->

    <ul class="comment_list" >
    <div id="main_li" >

    </div>
        <li class="list-group-item">
            {% if request.user.username %}
                <div>
                    <div class="col-sm-11">
                        <input type="text" name=""  class="form-control" placeholder="寫下你的評論。。。"
                               style="background-color: gainsboro;" >
                    </div>
                    <button class="btn btn-primary comment_btn" pid="" fid="">發佈</button>
                </div>

            {% else %}
                <a style="margin-bottom: 60px" href="/login/">評論前，請先按此登入</a>

            {% endif %}
        </li>

    </ul>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" >
                    <div class="modal-dialog" role="document" >
                        <div class="modal-content" >
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="exampleModalLabel"><strong>查看對話</strong></h4>
                          </div >
                            <ul class="comment_list" >
                                <div id="Second_li" >

                                </div>
                            </ul>
                          </div>
                          <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                            <!--<button type="button" class="btn btn-primary" id="multiple-add" data-dismiss="modal">添加</button>-->
                          <!--</div>-->
                        </div>
                      </div>
                    </div>






    <script>
        // 獲取評論數據，展示評論樹結構
        $.ajax({
            url: "/blog/comment_tree/" + '{{ article.pk }}/',
            success: function (data) {
                console.log(data);

                if (data.username){
                        var b = '<div><button class="xxxx " id="xsxs" type="button" pid="{{comment.pk}}" ><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;回復</button></div>';
                    } else {
                        var b = '<div><a class = "unlogin" href="/login/">評論前，請先按此登入</a></div>';
                    };

                var reply_num = data.reply_num
                console.log(reply_num)
                // console.log(reply_num[1])
                $.each(data.comment_list, function (index, comment) {
                    var s = '<li class="list-group-item" self_id="'+comment.pk+'"><div id="first-row" fpk="'+comment.pk+'" ><a href="#"><img class="" src="/media/'+comment.user__avatar+
                                '"style="width: 30px; height: 30px"></a><a><span style="font-size: 1.2em">&nbsp;&nbsp;'+comment.user__username+'</span></a><span class="pull-right" style="color:gray;">'+comment.c+'</span></div>'+
                                '<div class="con"><p style="margin-left: 6%">'+comment.content+'</p></div>';

                    s=s.concat(b);


                    if (comment.parent_comment_id && comment.friend_comment_id) {
                        // 子評論
                        var pid=comment.parent_comment_id;
                        if($("[self_id="+pid+"] li").length < 2){
                            $("[self_id="+pid+"]").append(s);
                            $('[fpk = "'+comment.pk+'"]').append("<span style='font-size: 1.2em'>&nbsp;<span style='color: gray;'>回復</span>&nbsp;"+comment.friend_comment__user__username+"</span>");
                            if($("[self_id="+pid+"] li").length === 2){
                                $("[self_id="+pid+"]").append('<li class="list-group-item" pid="'+pid+'"><button class="xxxx all_comment" style="color: black;">查看全部&nbsp;'+reply_num[pid]+'&nbsp;條回覆</button></li>');
                            };
                        };
                        // $("[self_id="+comment.pk+"]").css('background-color', '#fcd95e');
                    // }else if (comment.parent_comment_id && comment.friend_comment_id) {
                    //     var pid=comment.parent_comment_id;
                    //     $("[self_id="+pid+"]").append(s);
                    //     $('[fpk = "'+comment.pk+'"]').append("<span style='font-size: 1.2em'>&nbsp;<span style='color: gray;'>回復</span>&nbsp;"+comment.friend_comment__user__username+"</span>");
                        // $("[self_id="+comment.pk+"]").css('background-color', '#fcd95e');
                    }else {
                        //  根評論
                        $("div#main_li").append(s);
                        // $("[self_id="+comment.pk+"]").css('background-color', '#ffe179');
                    };



                })

            }
        });




        $("body").on('click',"#xsxs",function () {
            if ($(this).find("i").hasClass('fa-reply')){
               $(this).html('<i class="fa fa-share" aria-hidden="true"></i>&nbsp;取消回復');
               // var pid = $(this).attr("pid");
               // var fid = $(this).attr("fid");
               $(this).parent().after('<div class="fff" style="margin:5px" ><div class="col-md-10"><input type="text" class="form-control" placeholder="寫下你的評論。。。" style="background-color: gainsboro; " ></div><button class="btn btn-primary comment_btn">發佈</button></div>');
            }else {
                $(this).html('<i class="fa fa-reply aria-hidden="true"></i>&nbsp;回復');
                $(this).parent().siblings('div.fff').remove();

            };


        });





        $("body").on('click',".all_comment",function () {

            var $this = $(this);

            $.ajax({
                    url: "/blog/comment_modal/",
                    type: "get",
                    // traditional : true,
                    data: {
                        pid:$this.parent().attr("pid"),
                    },
                    success: function (data) {
                        if (data.username){
                            var b = '<div><button class="xxxx " id="xsxs" type="button" pid="{{comment.pk}}" ><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;回復</button></div>';
                        } else {
                            var b = '<div><a class = "unlogin" href="/login/">評論前，請先按此登入</a></div>';
                        };
                        console.log(data);
                        $.each(data.comment, function (index, comment) {
                            var s = '<li class="list-group-item" id_self="'+comment.pk+'" self_id="'+comment.pk+'"><div id="first-row" kpf="'+comment.pk+'" ><a href="#"><img class="" src="/media/'+comment.user__avatar+
                                '"style="width: 30px; height: 30px"></a><a><span style="font-size: 1.2em">&nbsp;&nbsp;'+comment.user__username+'</span></a><span class="pull-right" style="color:gray;">'+comment.c+'</span></div>'+
                                '<div class="con"><p style="margin-left: 6%">'+comment.content+'</p></div>';
                            s=s.concat(b);
                            if(!comment.parent_comment_id){
                                $("div#Second_li").append(s);
                            }else {
                                var pid=comment.parent_comment_id;
                                $("[id_self="+pid+"]").append(s);
                                $('[kpf= "'+comment.pk+'"]').append("<span style='font-size: 1.2em'>&nbsp;<span style='color: gray;'>回復</span>&nbsp;"+comment.friend_comment__user__username+"</span>");

                            };


                        })

                        // document.onload = function(){$('#exampleModal').modal('show');};
                        $('#exampleModal').modal('show');


                    }
            });

        });


        $("body").on('hide.bs.modal',"#exampleModal",function () {
            $("#Second_li").html("");
        });


            // 回復按鈕事件

        $(".list-group-item .reply_btn").click(function () {

            $("#comment_content").focus();

            var v = "@" + $(this).attr("username") + "\n";
            $("#comment_content").val(v);


            //pid賦值
            pid = $(this).attr("comment_pk")


        });

        $(".diggit ").hover(function() {

            $(this).css("background", "url('/static/img/upup3.gif') no-repeat");
            },function() {
            $(this).css("background", "url('/static/img/upup.gif') no-repeat");
        });

         $(".buryit ").hover(function() {

            $(this).css("background", "url('/static/img/downdown3.gif') no-repeat");
            },function() {
            $(this).css("background", "url('/static/img/downdown.gif') no-repeat");
        });

    </script>








    <div class="info" article_id="{{ article.pk }}" username="{{ request.user.username }}"></div>

    {% csrf_token %}

    <script src="/static/js/comment_btn.js"></script>

    <script src="/static/js/article_detail.js"></script>

{% endblock %}












