{% extends 'base.html' %}

{% block page-main %}

    <div class="article-detail">
        <h1>{{ article.title }}</h1>
        <p>{{ article.articledetail.content|safe }}</p>
    </div>

    <div class="poll clearfix">
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>

    </div>
    <h4><strong>{{ comment_list|length }}條評論</strong></h4>

    <!--<div class="comment_tree">-->

    <!--</div>-->
    <hr>
    <!--<p>評論列表</p>-->

    <ul class="comment_list" >
    <div id="main_li">
        {% for comment in comment_list %}
            <li class="list-group-item">
                <div id="first-row" fpk="{{ comment.pk }}" >
                    <!--<a href="">#{{ forloop.counter }}樓</a> &nbsp;&nbsp;-->
                    <!--<span style="color: gray">{{ comment.create_time|date:"Y-m-d H:i" }}</span> &nbsp;&nbsp;-->

                        <a href="#">
                            <img class="" src="/media/{{ comment.user.avatar.name }}"  style="width: 30px; height: 30px">
                        </a>

                        <a><span style="font-size: 1.2em">&nbsp;&nbsp;{{ comment.user.username }}</span></a>
                    <!--<a class="pull-right reply_btn" username="{{ comment.user.username }}"-->
                       <!--comment_pk="{{ comment.pk }}"><span>回復</span></a>-->
                        <span class="pull-right" style="color:gray;">{{ comment.create_time|date:"Y-m-d H:i" }}</span>
                </div>
                {% if comment.parent_comment_id %}
                    <!--<div class="pid_info well">-->
                        <!--<p> {{ comment.parent_comment.user.username }}:-->
                            <!--&nbsp;&nbsp;&nbsp;{{ comment.parent_comment.content }} </p>-->
                    <!--</div>-->
                    <div class="con">
                        <p style="margin-left: 6%">
                            {{ comment.content }}
                        </p>
                    </div>
                    <script>
                        $('[fpk = "{{comment.pk}}"]').append("<span style='font-size: 1.2em'>&nbsp;<span style='color: gray;'>回復</span>&nbsp;{{ comment.parent_comment.user.username}}</span>")
                    </script>
                {% else %}
                    <div class="con">
                        <p style="margin-left: 6%">
                            {{ comment.content }}
                        </p>
                    </div>
                {% endif %}
                <div>
                    {% if request.user.username %}
                        <button class="xxxx" type="button" ><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;回復</button>
                    {% else %}
                        <a class = "unlogin" href="/login/">評論前，請先按此登入</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </div>
        <li class="list-group-item">
            {% if request.user.username %}

                    <!--<label>暱稱：</label>-->
                    <!--<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"-->
                                 <!--value="{{ request.user.username }}">-->

                <div>
                    <div class="col-sm-11">
                        <input type="text" name="" id="comment_content" class="form-control" placeholder="寫下你的評論。。。"
                               style="background-color: gainsboro;" >
                    </div>
                    <button class="btn btn-primary" id="comment_btn" >發佈</button>
                </div>

            {% else %}
                <a style="margin-bottom: 60px" href="/login/">評論前，請先按此登入</a>

            {% endif %}
        </li>

    </ul>






    <script>
        // 獲取評論數據，展示評論樹結構
        // $.ajax({
        //     url: "/blog/comment_tree/" + '{{ article.pk }}/',
        //     success: function (data) {
        //         console.log(data);
        //
        //         $.each(data, function (index, comment_dict) {
        //             var s = '<div class="comment_item" comment_id=' + comment_dict.pk + '> <span class="content">' + comment_dict.content + '</span> </div>'
        //             if (comment_dict.parent_comment_id) {
        //                 // 子評論
        //                 var pid=comment_dict.parent_comment_id;
        //                 $("[comment_id="+pid+"]").append(s);
        //             }
        //             else {   //  根評論
        //                 $(".comment_tree").append(s);
        //             }
        //         })
        //
        //     }
        // });


        // 提交評論
        // var pid = "";
        $("#comment_btn").click(function () {

            var article_id = $(".info").attr("article_id");
            var content = $("#comment_content").val();
            // if (pid) {
            //     var index = content.indexOf("\n");
            //     content = content.slice(index + 1)
            // }
            $.ajax({
                url: "/blog/comment/",
                type: "post",
                data: {
                    article_id: article_id,
                    content: content,
                    pid: "",
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    // console.log(data);
                    var create_time = data.create_time;
                    var content = data.content;
                    var username = data.username;
                    var avatar = data.avatar;


                    // var comment_li = '<li class="list-group-item"><div><span style="color: gray">' + create_time + '</span> &nbsp;&nbsp; <a href=""><span>' + username + '</span></a></div> <div class="con"> <p> ' + content + ' </p> </div> </li>';
                    var comment_li = '<li class="list-group-item"><div><a href="#"><img class="" src="/media/' +avatar+ '"style="width: 30px; height: 30px"></a><a><span style="font-size: 1.2em">&nbsp;&nbsp;'+ username +'</span></a><span class="pull-right" style="color:gray;">' +create_time+ '</span></div><div class="con"><p style="margin-left: 6%">' +content+ '</p></div></li>';

                    $("#main_li").append(comment_li);
                    window.scrollTo(0,document.body.scrollHeight);
                    //
                    // // 清空文本框
                     $("#comment_content").val("");
                    $("#comment_content").attr('placeholder', "寫下你的評論。。。");
                    // // 清空pid
                    // pid = ""
                }
            })


        });

        $(".xxxx").click(function () {
            if ($(this).find("i").hasClass('fa-reply')){
               $(this).html('<i class="fa fa-share" aria-hidden="true"></i>&nbsp;取消回復');
               $(this).parent().parent().append('<div  parent_comment="" friend_comment="" style="margin-top: 5px" ><div class="col-sm-11" ><input type="text" name="" id="comment_content" class="form-control" placeholder="寫下你的評論。。。" style="background-color: gainsboro; " ></div><button class="btn btn-primary " id="comment_btn" >發佈</button></div>');
            }else {
                $(this).html('<i class="fa fa-reply aria-hidden="true"></i>&nbsp;回復');
                $(this).parent().next().remove();
                // $(this).parent().next().remove();
            };


        });


        // 回復按鈕事件

        $(".list-group-item .reply_btn").click(function () {

            $("#comment_content").focus();

            var v = "@" + $(this).attr("username") + "\n";
            $("#comment_content").val(v);


            //pid賦值
            pid = $(this).attr("comment_pk")


        });

        $(".diggit ").hover(function() {

            $(this).css("background", "url('/static/img/upup3.gif') no-repeat");
            },function() {
            $(this).css("background", "url('/static/img/upup.gif') no-repeat");
        });

         $(".buryit ").hover(function() {

            $(this).css("background", "url('/static/img/downdown3.gif') no-repeat");
            },function() {
            $(this).css("background", "url('/static/img/downdown.gif') no-repeat");
        });

    </script>








    <div class="info" article_id="{{ article.pk }}" username="{{ request.user.username }}"></div>

    {% csrf_token %}

    <script src="/static/js/article_detail.js"></script>

{% endblock %}




