{% extends 'base_bbs.html' %}


{% block page-main %}

<!--主頁面 開始-->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">左側廣告欄位一</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">左側廣告欄位二</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- 文章列表 開始 -->
            <div class="article-list">
                {% for article in article_list %}
                    <div class="article">
                        <h4><a href="/blog/{{ article.user.username }}/article/{{ article.pk }}/">{{ article.title }}</a></h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object author-img" src="/media/{{ article.user.avatar }}" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <p>{{ article.desc}}</p>
                            </div>
                        </div>
                        <div class="article-footer">
                            <span><a href="/blog/{{ article.user.username }}/">{{ article.user.username }}</a></span>發佈於
                            <span>{{ article.create_time|date:'Y-m-d H:i:s' }}</span>
{#                            <span class="glyphicon glyphicon-comment">評論({{ article.comment_count }})</span>#}
{#                            <span class="glyphicon glyphicon-thumbs-up">點讚({{ article.up_count }})</span>#}
                            <span><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>評論({{ article.comment_count }})</span>
                            <span><i class="fa fa-thumbs-o-up fa-fw" aria-hidden="true"></i>點讚({{ article.up_count }})</span>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

            </div>
            <!-- 文章列表 结束-->

        </div>
        <div class="col-md-2">
            <!--<div class="panel panel-default">-->
                <!--&lt;!&ndash;<div class="panel-heading">右側廣告欄位一</div>&ndash;&gt;-->
                <!--<div class="panel-body">-->
                    <!--<span class="write-article"><a href="/backend/add_article/">寫文章</a></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-info">-->
                <!--<div class="panel-heading">右側廣告欄位二</div>-->
                <!--<div class="panel-body">-->
                    <!--Panel content-->
                <!--</div>-->
            <!--</div>-->

            <a href="/blog/backend/add_article/"><button type="button" class="btn  write-article" ><i class="fa fa-plus"></i>&nbsp;&nbsp;寫新文章</button></a>

            <a href="/blog/{{ request.user.blog.site}}" ><button style="margin-top:20px" type="button" class="btn  write-article" ><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;個人主頁</button></a>
        </div>
    </div>
</div>
<!-- 主頁面 结束-->


{% endblock %}